<!DOCTYPE html>
<div id="alunos" class="page-layout simple inner-sidenav">

  <div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
      <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <md-icon md-font-icon="icon-library" class="s24"></md-icon>
        </span>
        <span class="logo-text">Alunos</span>
      </div>
    </div>

    <div class="search-input-wrapper" layout="row" layout-align="start center">
      <label for="search">
        <md-icon md-font-icon="icon-magnify"></md-icon>
      </label>
      <md-input-container md-no-float class="m-0">
        <input id="search" placeholder="Pesquisar alunos..." type="text" ng-model="vm.search">
      </md-input-container>
    </div>

  </div>

  <div ng-show="vm.selectedAlunos.length > 0" class="selected-bar header animate-slide-down md-accent-bg" layout="row" layout-align="start center">

    <div class="close-button-wrapper" ng-click="vm.selectedAlunos =[]">
      <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
        <span>Voltar</span>
      </md-button>
    </div>

    <div flex layout="row" layout-align="space-between center">

      <div>
        <span class="selected-alunos-count">
        <span>{{vm.selectedAlunos.length}}</span>
        <span>selecionado(s)</span>
        </span>

        <md-menu class="select-menu" ng-if="!vm.currentThread">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="multi select toggle">
            <md-icon md-font-icon="icon-menu-down"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.selectAllAlunos()">
                Selecionar todos
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deselectAlunos()">
                Selecionar nenhum
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="multi-select-actions">
        <md-button class="md-icon-button" ng-click="vm.deleteSelectedAlunos($event)" aria-label="apagar selecionados">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
      </div>

    </div>

  </div>

  <div class="content" md-background-bg layout="row" layout-align="start start">

    <div class="main scrollable" ms-scroll>

      <md-list class="alunos-list">

        <md-subheader class="md-no-sticky md-white-bg">

          <div layout="row" layout-align="space-between center">

            <div class="list-title" layout="row" layout-align="start center" ng-hide="editGroupForm.$visible">
              <span ng-if="vm.listType === 'all'">Alunos Cadastrados</span>

              <span ng-if="filteredAlunos.length" class="secondary-text alunos-count">
                                ({{filteredAlunos.length}})
                            </span>
            </div>

            <div flex></div>

            <span>Ordenar</span>
            <md-menu>

              <md-button class="md-icon-button" aria-label="Ordenar">
                <md-icon md-font-icon="icon-sort-alphabetical" ng-click="$mdOpenMenu($event)"></md-icon>
              </md-button>

              <md-menu-content width="3">

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'nome'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'nome' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                    <span>Nome</span>
                    <small>(A até Z)</small>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'nome'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'nome' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                    <span>Nome</span>
                    <small>(Z até A)</small>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'ra'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'ra' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                    <span>RA</span>
                    <small>(Crescente)</small>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'ra'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'ra' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                    <span>RA</span>
                    <small>(Decrescente)</small>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'ativo'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'ativo' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                    <span>Status</span>
                    <small>(Crescente)</small>
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.listOrder = 'ativo'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'ativo' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                    <span>Status</span>
                    <small>(Decrescente)</small>
                  </md-button>
                </md-menu-item>

              </md-menu-content>

            </md-menu>

          </div>

          <div class="atributosAluno">
            <label hide show-gt-xs class="raAluno">RA</label>
            <label class="nomeAluno">Nome</label>
            <label hide show-gt-xs class="nascAluno">Nascimento</label>
            <label hide show-gt-xs class="ativoAluno">Ativo</label>
          </div>

        </md-subheader>

        <md-list-item class="aluno-item md-white-bg" md-ink-ripple ng-repeat="data in vm.datas | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredAlunos track by data.aluno.ra"
          ng-click="vm.openAlunoDialog($event, data)" ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredAlunos.length - $index}" ng-class="{'selected': vm.isSelected(data)}">

          <md-checkbox ng-checked="vm.exists(data, vm.selectedAlunos)" ng-click="vm.toggleSelectAluno(data, $event)" aria-label="{{vm.exists(data, vm.selectedAlunos) ? 'Deselect' : 'Select'}}">
          </md-checkbox>
          <div class="item" layout="row" flex layout-align="space-between">
            <p hide show-gt-xs class="raAluno">
              {{data.aluno.ra}}
            </p>
            <p class="nomeAluno">
              {{data.aluno.nome}}
            </p>
            <p hide show-gt-xs class="dataNascAluno">
              {{data.aluno.dataNascimento | date : "dd/MM/yyyy"}}
            </p>
            <p hide show-gt-xs flex="10">
              {{data.aluno.ativo ? "Sim" : "Não"}}
            </p>

          </div>

          <div class="actions" layout="row" >
            <md-menu>
              <md-button class="md-icon-button" aria-label="Mais">
                <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
              </md-button>

              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="vm.openAlunoDialog($event, data)">
                    Editar aluno
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.deleteAlunoConfirm(data, ev)">
                    Apagar aluno
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </div>

        </md-list-item>

      </md-list>

      <md-list-item class="no-results md-white-bg" ng-show="filteredAlunos.length === 0">
        <p>Nenhum aluno encontrado.</p>
      </md-list-item>

    </div>
    <md-button class="md-fab md-accent md-icon-button" id="add-aluno-button" ng-click="vm.openAlunoDialog($event)" aria-label="Adicionar aluno">
      <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button>
    <md-button ng-click="vm.exportarExcel()" class="btnExcel">
      <md-icon md-font-icon="icon-file-excel" class="iconExcel"></md-icon>
      Exportar Registros
    </md-button>

  </div>

</div>
