<div layout="row">

    <!-- FORM WIZARD -->

    <ms-form-wizard flex>
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <!-- PASSO 1 / STEP 1-->
            <md-tab>
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep1.$invalid">1</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Dados gerais</span>
                    </span>
                </md-tab-label>

                <md-tab-body>
                    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                        <div layout="column" layout-gt-xs="row" flex>
                            <md-input-container flex="100" flex-gt-xs="55">
                                <input type="text" name="nome" ng-model="vm.formWizard.nome"
                                       placeholder="Nome"
                                       required>
                                <div ng-messages="wizardStep1.firstname.$error"
                                     role="alert">
                                    <div ng-message="required">
                                        <span>O nome é requerido.</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="100" flex-gt-xs="20">
                                <label>Turma</label>
                                <md-select ng-model="vm.formWizard.turma">
                                    <md-option ng-repeat="turma in vm.turmas" value="{{turma}}">
                                        {{turma}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex>
                                <label>RG</label>
                                <input type="text" name="rg" ng-model="vm.formWizard.rg" md-maxlength=12>
                            </md-input-container>


                        <div layout="column" layout-gt-xs="row">
                            <md-input-container flex>
                                <label>Data de Nascimento</label>
                                <input type="text" name="nasc" ng-model="vm.formWizard.nasc">
                            </md-input-container>


                            <md-input-container flex="100" flex-gt-xs="50">
                                <label>Naturalidade</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.nat">
                            </md-input-container>

                            <md-input-container flex="100" flex-gt-xs="10">
                                <label>Estado</label>
                                <md-select ng-model="vm.formWizard.estado">
                                    <md-option ng-repeat="estado in vm.estado" value="{{estado}}">
                                        {{estado}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex="100" flex-gt-xs="15">
                                <label>Assistido?</label>
                                <md-select ng-model="vm.formWizard.assistido">
                                    <md-option ng-repeat="estado in vm.assistido" value="{{assistido}}">
                                        {{assistido}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout="column" layout-gt-xs="row" layout-align="center center">
                          <md-input-container flex="100" flex-gt-xs="15">
                            <label>Camiseta</label>
                            <md-select ng-model="vm.formWizard.camiseta">
                                <md-option ng-repeat="estado in vm.camiseta" value="{{camiseta}}">
                                    {{camiseta}}
                                </md-option>
                            </md-select>
                          </md-input-container>

                          <md-input-container flex="100" flex-gt-xs="15">
                              <label>Calça</label>
                              <md-select ng-model="vm.formWizard.calca">
                                  <md-option ng-repeat="estado in vm.calca" value="{{calca}}">
                                      {{calca}}
                                  </md-option>
                              </md-select>
                          </md-input-container>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <!-- PASSO 2 / STEP 2-->
            <md-tab ng-disabled="wizardStep1.$invalid">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep2.$invalid">2</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Responsáveis Legais</span>
                    </span>
                </md-tab-label>

                <md-tab-body>
                    <form name="wizardStep2" ms-form-wizard-form novalidate>
                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex  >
                                  <input type="text" name="nomepai" ng-model="vm.formWizard.nomepai"
                                         placeholder="Nome do Pai"
                                         required>
                                  <div ng-messages="wizardStep1.nomepai.$error"
                                       role="alert">
                                      <div ng-message="required">
                                          <span>O nome é requerido.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>

                          <md-input-container flex="100" flex-gt-xs="15">
                              <label>Presente?</label>
                              <md-select ng-model="vm.formWizard.paipresente">
                                  <md-option ng-repeat="estado in vm.paipresente" value="{{paipresente}}">
                                      {{maepresente}}
                                  </md-option>
                              </md-select>
                          </md-input-container>
                        </div>

                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex  >
                                  <input type="text" name="nomemae" ng-model="vm.formWizard.nomemae"
                                         placeholder="Nome da Mãe"
                                         required>
                                  <div ng-messages="wizardStep1.nomemae.$error"
                                       role="alert">
                                      <div ng-message="required">
                                          <span>O nome é requerido.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>

                          <md-input-container flex="100" flex-gt-xs="15">
                              <label>Presente?</label>
                              <md-select ng-model="vm.formWizard.maepresente">
                                  <md-option ng-repeat="estado in vm.maepresente" value="{{maepresente}}">
                                      {{maepresente}}
                                  </md-option>
                              </md-select>
                          </md-input-container>
                        </div>

                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex  >
                                  <input type="text" name="nomeoutro" ng-model="vm.formWizard.nomeoutro"
                                         placeholder="Outro">
                              </md-input-container>
                          </div>

                          <md-input-container flex="100" flex-gt-xs="20">
                              <label>Telefone</label>
                              <input type="text" name="teloutro"ng-model="vm.formWizard.teloutro">
                          </md-input-container>

                          <md-input-container flex="100" flex-gt-xs="15">
                              <label>Presente?</label>
                              <md-select ng-model="vm.formWizard.outropresente">
                                  <md-option ng-repeat="estado in vm.outropresente" value="{{outropresente}}">
                                      {{outropresente}}
                                  </md-option>
                              </md-select>
                          </md-input-container>

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <!-- PASSO 3 / STEP 3-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep3.$invalid">3</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Endereço</span>
                    </span>
                </md-tab-label>

                <md-tab-body>
                    <form name="wizardStep3" ms-form-wizard-form novalidate>
                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex  >
                                  <input type="text" name="rua" ng-model="vm.formWizard.rua"
                                         placeholder="Rua" required>
                              </md-input-container>


                          </div>

                              <md-input-container flex="100" flex-gt-xs="20" >
                                <input type="text" name="numero" ng-model="vm.formWizard.numero"
                                placeholder="Numero">
                              </md-input-container>


                        </div>

                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex  >
                                <input type="text" name="complemento" ng-model="vm.formWizard.complemento"
                                placeholder="Complemento">
                              </md-input-container>
                          </div>

                              <md-input-container flex="100" flex-gt-xs="30" >
                                <input type="text" name="bairro" ng-model="vm.formWizard.bairro"
                                placeholder="Bairro">
                              </md-input-container>
                          </md-input-container>
                        </div>

                        <div layout="column" layout-gt-xs="row">
                          <div layout="column" layout-gt-xs="row" flex>
                              <md-input-container flex >
                                <input type="text" name="cep" ng-model="vm.formWizard.cep"
                                placeholder="CEP">
                              </md-input-container>
                          </div>

                              <md-input-container flex="100" flex-gt-xs="50" >
                                <input type="text" name="referencia" ng-model="vm.formWizard.referencia"
                                placeholder="Ponto de Referencia">
                              </md-input-container>

                              <md-input-container flex="100" flex-gt-xs="20" >
                                <input type="text" name="cidade" ng-model="vm.formWizard.cidade"
                                placeholder="Cidade">
                              </md-input-container>
                          </md-input-container>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>

            <!-- PASSO 4 / STEP 4-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid">
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep4.$invalid">4</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep4.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Saúde</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep4" ms-form-wizard-form novalidate>
                      <md-input-container flex="100" flex-gt-xs="15">
                              <label>Faz tratamentos médicos?</label>
                              <md-select ng-model="vm.formWizard.tratamentosmedicos">
                                  <md-option ng-repeat="estado in vm.tratamentosmedicos" value="{{tratamentosmedicos}}">
                                      {{tratamentosmedicos}}
                                  </md-option>
                              </md-select>
                          </md-input-container>
                        </div>
                        <div layout="column" layout-gt-xs="row">
                          <md-input-container flex="100" flex-gt-xs="15">
                              <label>Problemas de saúde na família?</label>
                              <md-select ng-model="vm.formWizard.problemasdesaudenafamilia">
                                  <md-option ng-repeat="estado in vm.problemasdesaudenafamilia" value="{{problemasdesaudenafamilia}}">
                                      {{problemasdesaudenafamilia}}
                                  </md-option>
                              </md-select>
                          </md-input-container>
                        </div>

                          <div layout="column" layout-gt-xs="row">
                            <md-input-container flex="100" flex-gt-xs="15">
                                <label>Possui plano de saúde?</label>
                                <md-select ng-model="vm.formWizard.planodesaude">
                                    <md-option ng-repeat="estado in vm.planodesaude" value="{{planodesaude}}">
                                        {{planodesaude}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
				</div>

                            <div layout="column" layout-gt-xs="row">
                              <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Pessoas idosas no lar?</label>
                                  <md-select ng-model="vm.formWizard.pessoasidosas">
                                      <md-option ng-repeat="estado in vm.pessoasidosas" value="{{pessoasidosas}}">
                                          {{pessoasidosas}}
                                      </md-option>
                                  </md-select>
                              </md-input-container>
				</div>

                              <div layout="column" layout-gt-xs="row">
                                <md-input-container flex="100" flex-gt-xs="15">
                                    <label>Pessoas com problemas psiquiáticos no lar?</label>
                                    <md-select ng-model="vm.formWizard.problemaspsiquiatricos">
                                        <md-option ng-repeat="estado in vm.problemaspsiquiatricos" value="{{problemaspsiquiatricos}}">
                                            {{problemaspsiquiatricos}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>


                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>





<!-- PASSO 5 / STEP 5-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid" >
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep5.$invalid">5</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep5.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Estrutura familiar</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep5" ms-form-wizard-form novalidate>
                     <md-input-container flex="100" flex-gt-xs="10">
                                <label>Estado civil dos pais</label>
                                <md-select ng-model="vm.formWizard.estadocivilpais">
                                    <md-option ng-repeat="estado in vm.estadocivilpais" value="{{estadocivilpais}}">
                                        {{estadocivilpais}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                                 
                        <div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>A criança reside com:</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.criancareside">
                            </md-input-container>
				</div>

                          <div layout="column" layout-gt-xs="row">
                            <md-input-container flex="100" flex-gt-xs="15">
                                <label>Possui problemas financeiros?</label>
                                <md-select ng-model="vm.formWizard.problemasfinanceiros">
                                    <md-option ng-repeat="estado in vm.problemasfinanceiros" value="{{problemasfinanceiros}}">
                                        {{problemasfinaceiros}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <div layout="column" layout-gt-xs="row">
                              <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Familiares com problemas com uso de alcool/drogas?</label>
                                  <md-select ng-model="vm.formWizard.usodealcooldrogas">
                                      <md-option ng-repeat="estado in vm.usodealcooldrogas" value="{{usodealcooldrogas}}">
                                          {{usodealcooldrogas}}
                                      </md-option>
                                  </md-select>
                              </md-input-container>

                              <div layout="column" layout-gt-xs="row">
                                <md-input-container flex="100" flex-gt-xs="15">
                                    <label>Alguém agressivo na família?</label>
                                    <md-select ng-model="vm.formWizard.alguemagressivo">
                                        <md-option ng-repeat="estado in vm.alguemagressivo" value="{{alguemagressivo}}">
                                            {{alguemagressivo}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
					</div>

				<div layout="column" layout-gt-xs="row">
                                <md-input-container flex="100" flex-gt-xs="15">
                                    <label>Possui automóveis?</label>
                                    <md-select ng-model="vm.formWizard.possuiautomoveis">
                                        <md-option ng-repeat="estado in vm.possuiautomoveis" value="{{possuiautomoveis}}">
                                            {{possuiautomoveis}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
					</div>

					<div layout="column" layout-gt-xs="row">
                                <md-input-container flex="100" flex-gt-xs="15">
                                    <label>Possui imóveis?</label>
                                    <md-select ng-model="vm.formWizard.possuiimoveis">
                                        <md-option ng-repeat="estado in vm.possuiimoveis" value="{{possuiimoveis}}">
                                            {{possuiimoveis}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
					</div>


		<div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Programas sociais:</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.programassociais">
                            </md-input-container>
				</div>


                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>

<!-- PASSO 6 / STEP 6-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid" 
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep6.$invalid">6</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep6.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Parentes</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep6" ms-form-wizard-form novalidate>
                     <div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Nome</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.nomeparente">
                            </md-input-container>
				</div>
                                 
                        <div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Parentesco</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.parentesco">
                            </md-input-container>
				</div>
	
 			<div layout="column" layout-gt-xs="row">
            
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Escolaridade</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.escolaridade">
                            </md-input-container>
				</div>
                         
				<div layout="column" layout-gt-xs="row">
            
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Data de Nascimento</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.datanascimentoparente">
                            </md-input-container>
				</div>

				<div layout="column" layout-gt-xs="row">
            
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Ocupação</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.ocupacaoparente">
                            </md-input-container>
				</div>
             
				<div layout="column" layout-gt-xs="row">
            
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Salário</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.salarioparente">
                            </md-input-container>
				</div>

				<md-input-container flex="100" flex-gt-xs="50">
                                <label>Local de trabalho</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.salarioparente">
                            </md-input-container>
				</div>
                                      

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>

	<!-- PASSO 7 / STEP 7-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid" 
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep7.$invalid">7</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep7.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Contato</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep7" ms-form-wizard-form novalidate>
                     <div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Nome</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.nomecontato">
                            </md-input-container>
				</div>
                                 
                        <div layout="column" layout-gt-xs="row">
                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Telefone</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.telefonecontato">
                            </md-input-container>
				</div>

                          <div layout="column" layout-gt-xs="row">
                            <md-input-container flex="100" flex-gt-xs="15">
                                <label>Tipo do contato</label>
                                <md-select ng-model="vm.formWizard.tipocontato ">
                                    <md-option ng-repeat="estado in vm.tipocontato" value="{{tipocontato}}">
                                        {{tipocontato}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

             
                                      

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>

<!-- PASSO 8 / STEP 8-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid || wizardStep7.$invalid" >
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep8.$invalid">8</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep8.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Situação Habitacional</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep8" ms-form-wizard-form novalidate>
                     <div layout="column" layout-gt-xs="row">
                            <md-input-container flex="100" flex-gt-xs="15">
                                <label>Situação do imóvel</label>
                                <md-select ng-model="vm.formWizard.situacaoimovel">
                                    <md-option ng-repeat="estado in vm.situacaoimovel" value="{{situacaoimovel}}">
                                        {{situacaoimovel}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
				</div>

 				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Esgoto?</label>
                                <md-select ng-model="vm.formWizard.esgoto">
                                    <md-option ng-repeat="estado in vm.esgoto" value="{{esgoto}}">
                                        {{esgoto}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Rede elétrica?</label>
                                <md-select ng-model="vm.formWizard.redeeletrica">
                                    <md-option ng-repeat="estado in vm.redeletrica" value="{{redeeletrica}}">
                                        {{redeeletrica}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Asfalto?</label>
                                <md-select ng-model="vm.formWizard.asfalto">
                                    <md-option ng-repeat="estado in vm.asfalto" value="{{asfalto}}">
                                        {{asfalto}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>

				<div layout="column" layout-gt-xs="row">                         
				 <md-input-container flex="100" flex-gt-xs="50">
                                <label>Numero de cômodos</label>
                                <input type="text" name="nat"ng-model="vm.formWizard.telefonecontato">
                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Alvenaria?</label>
                                <md-select ng-model="vm.formWizard.alvenaria">
                                    <md-option ng-repeat="estado in vm.alvenaria" value="{{alvenaria}}">
                                        {{alvenaria}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Casa de madeira?</label>
                                <md-select ng-model="vm.formWizard.madeira">
                                    <md-option ng-repeat="estado in vm.madeira" value="{{madeira}}">
                                        {{madeira}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Imóvel em área irregular?</label>
                                <md-select ng-model="vm.formWizard.areairregular">
                                    <md-option ng-repeat="estado in vm.areairregular" value="{{areairregular}}">
                                        {{areairregular}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>


                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>

<!-- PASSO 9 / STEP 9-->
            <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid || wizardStep7.$invalid || wizardStep8.$invalid" 
                <md-tab-label>
                    <span class="ms-form-wizard-step-label">
                        <span class="ms-form-wizard-step-number md-accent-bg"
                              ng-if="wizardStep9.$invalid">9</span>
                        <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep9.$valid">
                            <i class="icon-check s16"></i>
                        </span>
                        <span class="ms-form-wizard-step-text">Aparelhos eletrônicos</span>
                    </span>
                </md-tab-label>
                <md-tab-body>
                    <form name="wizardStep8" ms-form-wizard-form novalidate>
                     <div layout="column" layout-gt-xs="row">
                           <md-input-container flex="100" flex-gt-xs="15">
                                <label>Televisão</label>
                                <md-select ng-model="vm.formWizard.televisao">
                                    <md-option ng-repeat="estado in vm.televisao" value="{{televisao}}">
                                        {{televisao}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
				</div>

 				<md-input-container flex="100" flex-gt-xs="15">
                                <label>TV por assinatura</label>
                                <md-select ng-model="vm.formWizard.tvassinatura">
                                    <md-option ng-repeat="estado in vm.tvassinatura" value="{{tvassinatura}}">
                                        {{tvassinatura}}
                                    </md-option>
                                </md-select>	
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Computador</label>
                                <md-select ng-model="vm.formWizard.computador">
                                    <md-option ng-repeat="estado in vm.computador" value="{{computador}}">
                                        {{computador}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Notebook</label>
                                <md-select ng-model="vm.formWizard.notebook">
                                    <md-option ng-repeat="estado in vm.notebook" value="{{notebook}}">
                                        {{notebook}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>

				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Fogão</label>
                                <md-select ng-model="vm.formWizard.fogao">
                                    <md-option ng-repeat="estado in vm.fogao" value="{{fogao}}">
                                        {{fogao}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Geladeira</label>
                                <md-select ng-model="vm.formWizard.geladeira">
                                    <md-option ng-repeat="estado in vm.geladeira" value="{{geladeira}}">
                                        {{geladeira}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Microondas</label>
                                <md-select ng-model="vm.formWizard.microondas">
                                    <md-option ng-repeat="estado in vm.microondas" value="{{microondas}}">
                                        {{microondas}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
				
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Tablets</label>
                                <md-select ng-model="vm.formWizard.tablets">
                                    <md-option ng-repeat="estado in vm.tablets" value="{{tablets}}">
                                        {{tablets}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
	
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Máquina de lavar</label>
                                <md-select ng-model="vm.formWizard.maquinadelavar">
                                    <md-option ng-repeat="estado in vm.maquinadelavar" value="{{maquinadelavar}}">
                                        {{maquinadelavar}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
	
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Máquina de Secar</label>
                                <md-select ng-model="vm.formWizard.maquinadesecar">
                                    <md-option ng-repeat="estado in vm.maquinadescar" value="{{maquinadesecar}}">
                                        {{maquinadesecar}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>

				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Telefone fixo</label>
                                <md-select ng-model="vm.formWizard.telefonefixo">
                                    <md-option ng-repeat="estado in vm.telefonefixo" value="{{telefonefixo}}">
                                        {{telefonefixo}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>
					
				<md-input-container flex="100" flex-gt-xs="15">
                                <label>Celular</label>
                                <md-select ng-model="vm.formWizard.celular">
                                    <md-option ng-repeat="estado in vm.celular" value="{{celular}}">
                                        {{celular}}
                                    </md-option>
                                </md-select>
	                            </md-input-container>
				</div>

                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>

        <div class="navigation" flex layout="row" layout-align="center center">
            <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                       ng-disabled="msWizard.isFirstStep()">
                Voltar
            </md-button>
            <div class="steps">
                <span ng-repeat="form in msWizard.forms"
                      ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
            </div>
            <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                       ng-hide="msWizard.isLastStep()"
                       ng-disabled="msWizard.currentStepInvalid()">
                Proximo
            </md-button>
            <md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();"
                       ng-show="msWizard.isLastStep()"
                       ng-disabled="msWizard.formsIncomplete()">
                Enviar
            </md-button>
        </div>

    </ms-form-wizard>
    <!-- / FORM WIZARD -->

</div>
