<div id="pagamentos" class="page-layout simple inner-sidenav">

  <div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
      <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <md-icon md-font-icon="icon-credit-card" class="s24"></md-icon>
        </span>
        <span class="logo-text">Gerenciar Pagamentos</span>
      </div>
    </div>

    <div class="search-input-wrapper" layout="row" layout-align="start center">
      <label for="search">
        <md-icon md-font-icon="icon-magnify"></md-icon>
      </label>
      <md-input-container md-no-float class="m-0">
        <input id="search" placeholder="Pesquisar pagamentos..." type="text" ng-model="vm.search">
      </md-input-container>
    </div>

  </div>

  <div ng-show="vm.selectedPagamentos.length > 0" class="selected-bar header animate-slide-down md-accent-bg" layout="row" layout-align="start center">

    <div class="close-button-wrapper" ng-click="vm.selectedPagamentos =[]">
      <md-button layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
        <span>Voltar</span>
      </md-button>
    </div>

    <div flex layout="row" layout-align="space-between center">

      <div>
        <span class="selected-pagamentos-count">
        <span>{{vm.selectedPagamentos.length}}</span>
        <span>selecionado(s)</span>
        </span>

        <md-menu class="select-menu" ng-if="!vm.currentThread">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="multi select toggle">
            <md-icon md-font-icon="icon-menu-down"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.selectAllPagamentos()">
                Selecionar todos
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deselectPagamentos()">
                Selecionar nenhum
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>

      <div class="multi-select-actions">
        <md-button class="md-icon-button" ng-click="vm.deleteSelectedPagamentos($event)" aria-label="apagar selecionados">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
      </div>

    </div>

  </div>

  <div class="content" md-background-bg layout="row" layout-align="start start">

    <div class="main scrollable" ms-scroll>

      <md-list class="pagamentos-list">

        <md-subheader class="md-no-sticky md-white-bg">

          <div layout="row" layout-align="space-between center">

            <div class="list-title" layout="row" layout-align="start center" ng-hide="editGroupForm.$visible">
              <span ng-if="vm.listType === 'all'">Pagamentos efetuados</span>

              <span ng-if="filteredPagamentos.length" class="secondary-text pagamentos-count">
                ({{filteredPagamentos.length}})
              </span>
            </div>

            <div>
              <span hide show-gt-sm>Ordenar</span>
              <md-menu>

                <md-button class="md-icon-button" aria-label="Ordenar">
                  <md-icon md-font-icon="icon-sort-alphabetical" ng-click="$mdOpenMenu($event)"></md-icon>
                </md-button>

                <md-menu-content width="3">

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'id'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'id' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                      <span>Id</span>
                      <small>(Crescente)</small>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'id'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'id' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                      <span>Id</span>
                      <small>(Decrescente)</small>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'formaPgto.associado.nome'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'formaPgto.associado.nome' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                      <span>Nome</span>
                      <small>(A até Z)</small>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'formaPgto.associado.nome'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'formaPgto.associado.nome' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                      <span>Nome</span>
                      <small>(Z até A)</small>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'formaPgto.associado.cpf'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'formaPgto.associado.cpf' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                      <span>CPF</span>
                      <small>(Crescente)</small>
                    </md-button>
                  </md-menu-item>

                  <md-menu-item>
                    <md-button ng-click="vm.listOrder = 'formaPgto.associado.cpf'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'formaPgto.associado.cpf' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                      <span>CPF</span>
                      <small>(Decrescente)</small>
                    </md-button>
                  </md-menu-item>

                </md-menu-content>

              </md-menu>
            </div>

          </div>

          <div class="atributos" layout-align="space-around end">
            <label hide show-gt-sm>Id</label>
            <label hide show-gt-sm>Cpf</label>
            <label>Nome</label>
            <label>Valor</label>
            <label hide show-gt-sm>Forma de Pgto</label>
            <label hide show-gt-sm>Data de Pgto</label>
          </div>

        </md-subheader>

        <md-list-item class="pagamento-item md-white-bg" md-ink-ripple ng-repeat="pagamento in vm.pagamentos | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredPagamentos track by pagamento.id"
          ng-click="vm.openPagamentoDialog($event, pagamento)" ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredPagamentos.length - $index}" ng-class="{'selected': vm.isSelected(pagamento)}">

          <md-checkbox ng-checked="vm.exists(pagamento, vm.selectedPagamentos)" ng-click="vm.toggleSelectPagamento(pagamento, $event)" aria-label="{{vm.exists(pagamento, vm.selectedPagamentos) ? 'Deselect' : 'Select'}}">
          </md-checkbox>

          <div class="item" layout="row" flex layout-align="space-around between">

            <p class=" hide show-gt-sm text-truncate font-weight-600 id">
              {{pagamento.id}}
            </p>

            <p class="hide show-gt-sm numero cpf">
              {{pagamento.formaPgto.associado.cpf}}
            </p>

            <p class="texto nome">
              {{pagamento.formaPgto.associado.nome}}
            </p>

            <p class="numero valorPago">
              {{pagamento.valorPago | currency : "R$ "}}
            </p>

            <p class="hide show-gt-sm texto formaPagamento">
              {{pagamento.formaPgto.formaPagamento}}
            </p>

            <p class="hide show-gt-xs data dataPagamento">
              {{pagamento.dataPgto | date : "dd/MM/yyyy"}}
            </p>

          </div>

          <div class="actions" layout="row" layout-align="start center">
            <md-menu>
              <md-button class="md-icon-button" aria-label="Mais">
                <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
              </md-button>

              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="vm.openPagamentoDialog($event, pagamento)">
                    Editar pagamento
                  </md-button>
                </md-menu-item>

                <md-menu-item>
                  <md-button ng-click="vm.deletePagamentoConfirm(pagamento, ev)">
                    Apagar pagamento
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </div>

        </md-list-item>

      </md-list>

      <md-list-item class="no-results md-white-bg" ng-show="filteredPagamentos.length === 0">
        <p>Nenhum pagamento encontrado.</p>
      </md-list-item>

    </div>

  </div>

  <md-button class="md-fab md-accent md-icon-button" id="add-pagamento-button" ng-click="vm.openPagamentoDialog($event)" aria-label="Adicionar pagamento">
    <md-icon md-font-icon="icon-square-inc-cash"></md-icon>
  </md-button>

</div>
