<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>E</span>
            </div>

            <div class="title">Restabelecer sua senha para o padrão</div>

            <form name="forgotPasswordForm" novalidate>
              <md-input-container class="md-block" md-no-float>
                  <input type="nome" name="nome" ng-model="vm.nome" placeholder="Nome de Usuario" required>
                  <div ng-messages="loginForm.email.$error" role="alert" multiple>
                      <div ng-message="required">
                          <span>O campo nome de usuario é obrigatorio.</span>
                      </div>
                      <div ng-message="pattern">
                          <span>O campo nome de usuario precisa ser valido</span>
                      </div>
                  </div>
              </md-input-container>



                <md-button ng-click="vm.resetarSenha($event)" type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">
                    Reset senha padrão
                </md-button>
            </form>

            <div ng-show="vm.loading == true" layout="row" layout-sm="column" layout-align="center center">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.login" >Voltar para a tela de login</a>
            </div>
        </div>
    </div>
</div>
