<!-- DIALOG -->
<md-dialog class="pagamento-dialog">

  <form name="PagamentoForm" class="md-inline-form" novalidate>

    <!-- DIALOG TOOLBAR -->
    <!-- <md-toolbar class="md-accent" layout="column"> -->

    <!-- TOOLBAR TOP -->
    <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
      <span class="title">{{vm.title}}</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
    <!-- / TOOLBAR TOP -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

      <md-autocomplete  flex required
        md-input-name="autocompleteField"
        md-input-minlength="2"
        md-input-maxlength="200"
        md-no-cache="vm.noCache"
        md-selected-item="vm.selectedItem"
        md-search-text="vm.searchText"
        md-items="item in vm.querySearch(vm.searchText)"
        md-item-text="item.display"
        md-require-match
        md-floating-label="Digite o CPF ou nome de um associado."


        ng-blur="vm.buscaCpf()">
        <md-item-template>
          <span md-highlight-text="vm.searchText">{{item.display}}</span>
        </md-item-template>
        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
          <div ng-message="required">Você <b>precisa</b> digitar um CPF ou nome.</div>
          <div ng-message="md-require-match">Por favor adicione um CPF ou nome que exista.</div>
          <div ng-message="minlength">Falta caracteres.</div>
          <div ng-message="maxlength">Caracteres demais.</div>
        </div>
      </md-autocomplete>

      <!--
      <md-input-container>
        <label>CPF do Associado</label>
        <md-icon md-font-icon="icon-account-box"></md-icon>
        <input ng-blur="vm.buscaCpf()" ng-model="vm.pagamento.formaPgto.pagamento.cpf" type="text" mask="999.999.999-99" required>
      </md-input-container>
      -->

      <md-input-container>
        <label>Valor Pago</label>
        <md-icon md-font-icon="icon-currency-usd"></md-icon>
        <input ng-model="vm.pagamento.valorPago" type="text" ui-money-mask required>
      </md-input-container>

      <md-input-container>
        <md-datepicker ng-model="vm.pagamento.dataPgto" md-placeholder="Data de Pagamento" md-open-on-focus></md-datepicker>
      </md-input-container>
      </br>
      <md-input-container>
        <label>Forma de Pagamento</label>
        <md-icon md-font-icon="icon-credit-card"></md-icon>
        <md-select ng-model="vm.pagamento.formaPgto.formaPagamento">
          <md-option value="Boleto">Boleto</md-option>
          <md-option value="Cartão">Cartão</md-option>
          <md-option value="Dinheiro">Dinheiro</md-option>
        </md-select>
      </md-input-container>

    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

    <!-- DIALOG ACTIONS -->
    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newPagamento" ng-click="vm.savePagamento()" class="send-button md-accent md-raised" ng-disabled="PagamentoForm.$invalid || PagamentoForm.$pristine" aria-label="Salvar">
          Salvar
        </md-button>

        <md-button type="submit" ng-if="vm.newPagamento" ng-click="vm.addNewPagamento(ev)" class="send-button md-accent md-raised" ng-disabled="PagamentoForm.$invalid || PagamentoForm.$pristine" aria-label="Informar pagamento">
          Informar Pagamento
        </md-button>

      </div>

      <div ng-if="!vm.newPagamento" layout="row">
        <md-button class="md-icon-button" ng-click="vm.deletePagamentoConfirm($event)" aria-label="Apagar">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Apagar</span></md-tooltip>
        </md-button>
      </div>
    </md-dialog-actions>
    <!-- / DIALOG ACTIONS -->

  </form>

</md-dialog>
<!-- / DIALOG -->
