<!-- DIALOG -->
<md-dialog class="turma-dialog" ng-keydown="vm.fecharDialog($event)">

  <form name="TurmaForm" class="md-inline-form" novalidate>

    <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
      <span class="title">{{vm.title}}</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>

    <md-dialog-content ms-scroll>

      <div layout="column" layout-gt-xs="row" layout-margin layout-align="space-around none" style="height: 100vh, width: 100vh">
        <md-input-container class="md-icon-float md-block" flex="100" flex-gt-xs="20">
          <label>Cpf do Educador</label>
          <md-icon md-font-icon="icon-account-circle"></md-icon>
          <input ng-model="vm.turma.cpfEducador" type="text" mask="999.999.999-99" disabled>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" flex="100" flex-gt-xs="25" required>
          <label>Nome do Educador</label>
          <md-icon md-font-icon="icon-account"></md-icon>

          <md-select ng-model="vm.educador" ng-change="vm.setarCpf(vm.educador)" ng-disabled="!vm.newTurma" required>
            
            <md-option ng-repeat="edu in vm.educadores" value="{{edu}}">
              {{edu.nome}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" flex="100" flex-gt-xs="15">
          <label>Período</label>
          <md-icon md-font-icon="icon-clock"></md-icon>
          <md-select ng-model="vm.turma.periodo" required>
            <md-option ng-repeat="periodo in vm.periodos" value="{{periodo}}">
              {{periodo}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="25">
          <md-icon md-font-icon="icon-clipboard-text"></md-icon>
          <input type="text" name="nome" ng-model="vm.turma.nome" placeholder="Nome da Turma" required>
        </md-input-container>
      </div>

      <div ng-if="!vm.newTurma">
        <h2 class="alunosinout">Alunos dentro da Turma:</h2>
        <div class="headers" display="flex" layout="row" layout-margin layout-padding>
          <h3 flex="20">RA</h3>
          <h3 flex="20">Nome</h3>
          <h3 flex="20">Idade</h3>
          <h3 flex="15">Data de Nascimento</h3>
        </div>
        <md-list-item class="aluno-item md-white-bg"  ng-repeat="a in vm.alunosDentroTurma" display="flex" layout-margin layout-padding>
            <p class="show-gt-xs numero" flex="20">
              {{a.aluno.ra}}
            </p>

            <p class="show-gt-xs texto" flex="20">
              {{a.aluno.nome}}
            </p>

            <p class="numero" flex="20">
              {{a.aluno.idade}} anos
            </p>

            <p class="data" flex="20">
              {{a.aluno.dataNascimento}}
            </p>

            <md-button class="md-raised md-warn adicionarButton" ng-click="vm.removerAluno(a)">
              Remover
            </md-button>
        </md-list-item>

        <h2 class="alunosinout">Alunos fora da Turma:</h2>
        <div class="headers" display="flex" layout="row" layout-margin layout-padding>
          <h3 flex="20">RA</h3>
          <h3 flex="20">Nome</h3>
          <h3 flex="20">Idade</h3>
          <h3 flex="15">Data de Nascimento</h3>
        </div>

        <md-list-item class="aluno-item md-white-bg" ng-repeat="a in vm.alunosForaTurma track by a.aluno.ra" display="flex" layout-margin layout-padding>
            <p class="show-gt-xs numero" flex="20">
              {{a.aluno.ra}}
            </p>

            <p class="show-gt-xs texto" flex="20">
              {{a.aluno.nome}}
            </p>
            <p class="numero" flex="20">
              {{a.aluno.idade}} anos
            </p>

            <p class="data" flex="20">
              {{a.aluno.dataNascimento}}
            </p>

            <md-button class="md-raised md-accent adicionarButton" ng-click="vm.adicionarAluno(a)">
              Adicionar
            </md-button>
        </md-list-item>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newTurma" ng-click="vm.saveTurma()" class="send-button md-accent md-raised" ng-disabled="TurmaForm.$invalid || TurmaForm.$pristine" aria-label="Salvar">
          Salvar
        </md-button>

        <md-button type="submit" ng-if="vm.newTurma" ng-click="vm.addNewTurma(); vm.routeReload();" class="send-button md-accent md-raised" ng-disabled="TurmaForm.$invalid || TurmaForm.$pristine" aria-label="Adicionar turma">
          Adicionar Turma
        </md-button>
      </div>

      <div ng-if="!vm.newTurma" layout="row">
        <md-button class="md-icon-button" ng-click="vm.deleteTurmaConfirm($event)" aria-label="Apagar">
          <md-icon md-font-icon="icon-delete"></md-icon>
          <md-tooltip><span>Apagar</span></md-tooltip>
        </md-button>
      </div>

    </md-dialog-actions>

  </form>

</md-dialog>
