<!DOCTYPE html>
<md-dialog class="aluno-dialog">



  <!-- DIALOG TOOLBAR -->
  <!-- <md-toolbar class="md-accent" layout="column"> -->

  <!-- TOOLBAR TOP -->
  <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
    <span class="title">{{vm.title}}</span>
    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
      <md-icon md-font-icon="icon-close"></md-icon>
    </md-button>
  </div>
  <!-- / TOOLBAR TOP -->

  <!-- DIALOG CONTENT -->
  <md-dialog-content ms-scroll>

    <div layout="row">

      <!-- FORM WIZARD -->

      <ms-form-wizard flex>
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <!-- PASSO 1 / STEP 1-->
          <md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep1.$invalid">1</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Dados gerais</span>
              </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="nome" ng-model="vm.aluno.nome" placeholder="Nome" required>
                    <div ng-messages="wizardStep1.firstname.$error" role="alert">
                      <div ng-message=" ">
                        <span>O nome é requerido.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <label>Turma</label>
                    <md-select ng-model="vm.aluno.turma.educador" required>
                      <md-option ng-repeat="turma in vm.turmas" value="{{turma.educador}}" >
                        {{turma.educador}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="15">
                    <label>RG</label>
                    <input type="text" name="rg" ng-model="vm.aluno.rg" md-maxlength="12" mask="99.999.999-w" required>
                  </md-input-container>

                </div>


                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="naturalidade" ng-model="vm.aluno.naturalidade" placeholder="Naturalidade" required>
                    <div ng-messages="wizardStep1.nat.$error" role="alert">
                      <div ng-message=" ">
                        <span>A naturalidade é requerida.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="15">
                    <label>Estado</label>
                    <md-select ng-model="vm.aluno.estado" required>
                      <md-option ng-repeat="estado in vm.estados" value="{{estado}}" >
                        {{estado}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container>
                    <md-datepicker ng-model="vm.aluno.data_nascimento" md-placeholder="Nascimento" required md-open-on-focus></md-datepicker>
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="meio_trasnporte" ng-model="vm.aluno.meio_transporte" placeholder="Meio de transporte" required>
                    <div ng-messages="wizardStep1.meiotransporte.$error" role="alert">
                      <div ng-message=" ">
                        <span>O meio de transporte é requerido.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <label>Tamanho da camiseta</label>
                    <md-select ng-model="vm.roupa.tamanho_camiseta" required>
                      <md-option ng-repeat="camiseta in vm.camisetas" value="{{camiseta}}" >
                        {{camiseta}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <label>Tamanho da calça</label>
                    <md-select ng-model="vm.roupa.tamanho_calca" required>
                      <md-option ng-repeat="calca in vm.calcas" value="{{calca}}" >
                        {{calca}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 2 / STEP 2-->
          <md-tab ng-disabled="wizardStep1.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep2.$invalid">2</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Responsáveis Legais</span>
              </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep2" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="70">
                    <input type="text" name="nomepai" ng-model="vm.paiContato.nome" placeholder="Nome do Pai" required>
                  </md-input-container>

                  <md-input-container flex="150" flex-gt-xs="10">
                    <input type="text" name="telpai" ng-model="vm.paiContato.telefone" mask="(99) 9?9999-9999" placeholder="Telefone" required>
                  </md-input-container>


                  <md-input-container flex="150" flex-gt-xs="10">
                    Presente?
                    <md-checkbox ng-model="vm.paiContato.presente" aria-label="Presente" >
                    </md-checkbox>
                  </md-input-container>

                </div>


                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="150" flex-gt-xs="70">
                    <input type="text" name="nomemae" ng-model="vm.maeContato.nome" placeholder="Nome da Mãe" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10">
                    <input type="text" name="telmae" ng-model="vm.maeContato.telefone" mask="(99) 9?9999-9999" placeholder="Telefone" required>
                  </md-input-container>



                  <md-input-container flex="150" flex-gt-xs="10">
                    Presente?
                    <md-checkbox ng-model="vm.maeContato.presente" aria-label="Presente" >
                    </md-checkbox>
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row" flex ng-repeat="c in vm.contatos track by $index">
                  <md-input-container flex="100" flex-gt-xs="30">
                    <input type="text" ng-model="c.nome" placeholder="Nome" value="{{c.nome}}">
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10">
                    <input type="text" ng-model="c.telefone" mask="(99) 9?9999-9999" placeholder="Telefone">
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="15">
                    <label>Tipo</label>
                    <md-select ng-model="c.tipo">
                      <md-option ng-repeat="tipo in vm.tiposContato" value="{{tipo}}">
                        {{tipo}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex="150" flex-gt-xs="10" ng-if="c.tipo == 'Responsavel'">
                    Presente?
                    <md-checkbox ng-model="c.presente" aria-label="Presente">
                    </md-checkbox>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10" ng-if="c.tipo == 'Responsavel'">
                    <input type="text" ng-model="c.grau_parentesco" placeholder="Grau Parentesco">
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10" ng-if="c.tipo == 'Profissional'">
                    <input type="text" ng-model="c.cargo" placeholder="Cargo">
                  </md-input-container>

                  <md-button class="md-raised md-accent adicionarButton" ng-click="vm.addContato(c)" ng-if="vm.isLastContato(c)">
                    Adicionar
                  </md-button>

                  <md-button class="md-raised md-warn adicionarButton" ng-click="vm.removeContato(c)">
                    Remover
                  </md-button>
                </div>

              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 3 / STEP 3-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep3.$invalid">3</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Endereço</span>
              </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep3" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="rua" ng-model="vm.endereco.rua" placeholder="Rua" required>
                  </md-input-container>


                  <md-input-container flex="100" flex-gt-xs="5">
                    <input type="text" name="numero" ng-model="vm.endereco.numero" mask="9?9?9?9" placeholder="Nº" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="15">
                    <input type="text" name="complemento" ng-model="vm.endereco.complemento" placeholder="Complemento">
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="15">
                    <input type="text" name="bairro" ng-model="vm.endereco.bairro" placeholder="Bairro" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="cidade" ng-model="vm.endereco.cidade" placeholder="Cidade" required>
                  </md-input-container>


                  <md-input-container flex="100" flex-gt-xs="10">
                    <input type="text" name="cep" mask="99999-999" ng-model="vm.endereco.cep" placeholder="CEP" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="25">
                    <input type="text" name="ponto_referencia" ng-model="vm.endereco.ponto_referencia" placeholder="Ponto de Referencia">
                  </md-input-container>

                </div>
              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 4 / STEP 4-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep4.$invalid">4</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep4.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Saúde</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep4" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Faz Tratamentos médicos?
                    <md-checkbox ng-model="vm.saude.faz_tratamentos_medicos" aria-label="Faz tratamentos médicos">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Problemas de saúde na família?
                    <md-checkbox ng-model="vm.saude.problemas_saude_familia" aria-label="Problemas de saúde na família?">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Possui plano de saúde?
                    <md-checkbox ng-model="vm.saude.plano_saude" aria-label="Possui plano de saúde">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Pessoas idosas no lar?
                    <md-checkbox ng-model="vm.saude.pessoas_idosas" aria-label="Pessoas idosas no lar">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Pessoas com problemas psiquiátricos na família?
                    <md-checkbox ng-model="vm.saude.problemas_psiquiatricos" aria-label="Pessoas com problemas psiquiátricos na família">
                    </md-checkbox>
                  </div>
                </div>

              </form>
            </md-tab-body>
          </md-tab>


          <!-- PASSO 5 / STEP 5-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep5.$invalid">5</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep5.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Estrutura familiar</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep5" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="50" placeholder="Criança reside com:">
                    <input type="text" name="crianca_reside_com" ng-model="vm.estrutura_familiar.crianca_reside_com" placeholder="Criança reside com:" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="25">
                    <label>Estado civil dos pais</label>
                    <md-select ng-model="vm.estrutura_familiar.estado_civil_pais" required>
                      <md-option ng-repeat="estado_civil in vm.estados_civis" value="{{estado_civil}}">
                        {{estado_civil}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Possui problemas finaceiros?
                    <md-checkbox ng-model="vm.estrutura_familiar.problemas_financeiros" aria-label="Possui problemas financeiros">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Familiares com problemas com uso de alcool/drogas?
                    <md-checkbox ng-model="vm.estrutura_familiar.uso_alcool_drogas" aria-label="Familiares com problemas com uso de alcool/drogas">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Alguém agressivo na família?
                    <md-checkbox ng-model="vm.estrutura_familiar.alguem_agressivo" aria-label="Alguém agressivo na família">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Participa de programas sociais?
                    <md-checkbox ng-model="vm.estrutura_familiar.programas_sociais" aria-label="Participa de programas sociais">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Possui automóveis?
                    <md-checkbox ng-model="vm.automovel" aria-label="Possui automóveis">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row" flex ng-repeat="c in vm.automoveis track by $index" ng-if="vm.automovel == true">
                  <md-input-container flex="100" flex-gt-xs="15">
                    <input type="text" ng-model="c.modelo" placeholder="Modelo" value="{{c.modelo}}">
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="5">
                    <input type="text" ng-model="c.ano" placeholder="Ano">
                  </md-input-container>

                  <p>
                    Financiado?
                    <md-checkbox ng-model="c.financiado" aria-label="Possui automóveis" value="{{c.financiado}}">
                    </md-checkbox>
                  </p>

                  <md-button class="md-raised md-accent adicionarButton" ng-click="vm.addAutomovel(c)" ng-if="vm.isLastAutomovel(c)">
                    Adicionar
                  </md-button>

                  <md-button class="md-raised md-warn adicionarButton" ng-click="vm.removeAutomovel(c)">
                    Remover
                  </md-button>

                </div>



                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Possui imóveis?
                    <md-checkbox ng-model="vm.imovel" aria-label="Possui imóveis">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row" flex ng-repeat="i in vm.imoveis track by $index" ng-if="vm.imovel == true">

                  <div flex="150" flex-gt-xs="10">
                    Financiado?
                    <md-checkbox ng-model="i.financiado" aria-label="Possui imoveis" value="{{i.financiado}}">
                    </md-checkbox>
                  </div>

                  <md-button class="md-raised md-accent adicionarButton" ng-click="vm.addImovel(i)" ng-if="vm.isLastImovel(i)">
                    Adicionar
                  </md-button>

                  <md-button class="md-raised md-warn adicionarButton" ng-click="vm.removeImovel(i)">
                    Remover
                  </md-button>

                </div>

              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 6 / STEP 6-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep6.$invalid">6</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep6.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Parentes</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep6" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row" ng-repeat="p in vm.parentes track by $index">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="nome_parente" ng-model="p.nome" placeholder="Nome do parente">
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10">
                    <input type="text" name="parentesco" ng-model="p.parentesco" placeholder="Parentesco">
                  </md-input-container>


                    <md-input-container flex="100" flex-gt-xs="10">
                      <input type="text" name="escolaridade" ng-model="p.escolaridade" placeholder="Escolaridade">
                    </md-input-container>


                    <md-input-container>
                      <md-datepicker ng-model="p.data_nascimento" md-placeholder="Nascimento" md-open-on-focus></md-datepicker>
                    </md-input-container>


                    <md-input-container flex="100" flex-gt-xs="10">
                      <input type="text" name="ocupacao" ng-model="p.ocupacao" placeholder="Ocupação">
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="5">
                      <input type="text" name="salario" ng-model="p.salario" ui-money-mask placeholder="Salário">
                    </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="10">
                    <input type="text" name="local_trabalho" ng-model="p.local_trabalho" placeholder="Local de trabalho">
                  </md-input-container>

                  <md-button class="md-raised md-accent adicionarButton" ng-click="vm.addParente(p)" ng-if="vm.isLastParente(p)">
                    Adicionar
                  </md-button>

                  <md-button class="md-raised md-warn adicionarButton" ng-click="vm.removeParente(p)">
                    Remover
                  </md-button>
                </div>
              </form>
            </md-tab-body>
          </md-tab>


          <!-- PASSO 7 / STEP 7-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep7.$invalid">7</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep7.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Situação Habitacional</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep7" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <label>Situação do imóvel</label>
                    <md-select ng-model="vm.situacao_habitacional.situacao" required>
                      <md-option ng-repeat="situacao in vm.situacoes" value="{{situacao}}">
                        {{situacao}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="15">
                    <input type="text" name="numero_comodos" ng-model="vm.situacao_habitacional.numero_comodos" placeholder="Nº de cômodos" required mask="9?9">
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Esgoto?
                    <md-checkbox ng-model="vm.situacao_habitacional.esgoto" aria-label="Esgoto">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Rede elétrica?
                    <md-checkbox ng-model="vm.situacao_habitacional.rede_eletrica" aria-label="Rede elétrica">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Asfalto?
                    <md-checkbox ng-model="vm.situacao_habitacional.asfalto" aria-label="Asfalto">
                    </md-checkbox>
                  </div>
                </div>


                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Alvenaria?
                    <md-checkbox ng-model="vm.situacao_habitacional.alvenaria" aria-label="Alvenaria">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Casa de madeira?
                    <md-checkbox ng-model="vm.situacao_habitacional.madeira" aria-label="Casa de madeira">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Imóvel construído em área irregular?
                    <md-checkbox ng-model="vm.situacao_habitacional.area_irregular" aria-label="Imóvel construído em área irregular">
                    </md-checkbox>
                  </div>
                </div>
              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 8 / STEP 8-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid || wizardStep7.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep8.$invalid">8</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep8.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Aparelhos eletrônicos</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep8" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">

                  Quais são os aparelhos que o aluno possui em casa?

                </div>

                <br>
                <br>


                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Televisão
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.televisao" aria-label="Televisão">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    TV por assinatura
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.tv_assinatura" aria-label="TV por assinatura">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Computador
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.computador" aria-label="Computador">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Notebook
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.notebook" aria-label="Notebook">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Fogão
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.fogao" aria-label="Fogão">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Geladeira
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.geladeira" aria-label="Geladeira">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Microondas
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.microondas" aria-label="Microondas">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Tablets
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.tablet" aria-label="Tablets">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Máquina de lavar
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.maquina_lavar" aria-label="Máquina de lavar">
                    </md-checkbox>
                  </div>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <div flex="100" flex-gt-sm="50">
                    Máquina de secar
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.maquina_secar" aria-label="Máquina de secar">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Telefone fixo
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.telefone_fixo" aria-label="Telefone fixo">
                    </md-checkbox>
                  </div>

                  <div flex="100" flex-gt-sm="50">
                    Celular
                    <md-checkbox ng-model="vm.aparelhos_eletronicos.celular" aria-label="Celular">
                    </md-checkbox>
                  </div>
                </div>

              </form>
            </md-tab-body>
          </md-tab>

          <!-- PASSO 9 / STEP 9-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid || wizardStep7.$invalid || wizardStep8.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep9.$invalid">9</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep9.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Despesas</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep9" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="agua" ng-model="vm.despesa.agua" ui-money-mask placeholder="Água" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="energia_eletrica" ng-model="vm.despesa.energia_eletrica" ui-money-mask placeholder="Energia elétrica" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="telefone" ng-model="vm.despesa.telefone" ui-money-mask placeholder="Telefone" required>
                  </md-input-container>


                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="aluguel" ng-model="vm.despesa.aluguel" ui-money-mask placeholder="Aluguel" required>
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="financiamento_casa" ng-model="vm.despesa.financiamento_casa" ui-money-mask placeholder="Financiamento da casa" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="financiamento_carro" ng-model="vm.despesa.financiamento_carro" ui-money-mask placeholder="Financiamento do carro" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="transporte" ng-model="vm.despesa.transporte" ui-money-mask placeholder="Transporte" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="alimentacao" ng-model="vm.despesa.alimentacao" ui-money-mask placeholder="Alimentação" required>
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="gas" ng-model="vm.despesa.gas" ui-money-mask placeholder="Gás" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="cartao_credito" ng-model="vm.despesa.cartao_credito" ui-money-mask placeholder="Cartão de crédito" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="emprestimo" ng-model="vm.despesa.emprestimo" ui-money-mask placeholder="Empréstimo" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="tv_cabo" ng-model="vm.despesa.tv_cabo" ui-money-mask placeholder="TV a cabo" required>
                  </md-input-container>
                </div>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="educacao" ng-model="vm.despesa.educacao" ui-money-mask placeholder="Educação" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="pensao" ng-model="vm.despesa.pensao" ui-money-mask placeholder="Pensão" required>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="20">
                    <input type="text" name="convenio_medico" ng-model="vm.despesa.convenio_medico" ui-money-mask placeholder="Convenio médico" required>
                  </md-input-container>
                </div>

              </form>
            </md-tab-body>
          </md-tab>


          <!-- PASSO 10 / STEP 10-->
          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid || wizardStep3.$invalid || wizardStep4.$invalid || wizardStep5.$invalid || wizardStep6.$invalid || wizardStep7.$invalid || wizardStep8.$invalid || wizardStep9.$invalid">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                              <span class="ms-form-wizard-step-number md-accent-bg"
                                    ng-if="wizardStep10.$invalid">10</span>
              <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep10.$valid">
                                  <i class="icon-check s16"></i>
                              </span>
              <span class="ms-form-wizard-step-text">Observações</span>
              </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep10" ms-form-wizard-form novalidate>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100">
                    <input type="text" name="observacoes" ng-model="vm.aluno.observacoes" placeholder="Observações">
                  </md-input-container>
                </div>

              </form>
            </md-tab-body>
          </md-tab>
        </md-tabs>

        <div class="navigation" flex layout="row" layout-align="center center">
          <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()">
            Voltar
          </md-button>
          <div class="steps">
            <span ng-repeat="form in msWizard.forms" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
          </div>
          <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()" ng-hide="msWizard.isLastStep()" ng-disabled="msWizard.currentStepInvalid()">
            Proximo
          </md-button>
          <md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();" ng-show="msWizard.isLastStep()" ng-disabled="msWizard.formsIncomplete()">
            Enviar
          </md-button>
        </div>

      </ms-form-wizard>
      <!-- / FORM WIZARD -->

    </div>


  </md-dialog-content>
  <!-- / DIALOG CONTENT -->

  <!-- DIALOG ACTIONS -->
  <md-dialog-actions layout="row" layout-align="space-between center">
    <!-- <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newAluno" ng-click="vm.saveAluno()" class="send-button md-accent md-raised" ng-disabled="AlunoForm.$invalid || AlunoForm.$pristine" aria-label="Salvar">
          Salvar
        </md-button>

        <md-button type="submit" ng-if="vm.newAluno" ng-click="vm.addNewAluno()" class="send-button md-accent md-raised" ng-disabled="AlunoForm.$invalid || AlunoForm.$pristine" aria-label="Adicionar aluno">
          Adicionar Aluno
        </md-button>

      </div> -->

    <div ng-if="!vm.newAluno" layout="row">
      <md-button class="md-icon-button" ng-click="vm.deleteAlunoConfirm($event)" aria-label="Apagar">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span>Apagar</span></md-tooltip>
      </md-button>
    </div>
  </md-dialog-actions>
  <!-- / DIALOG ACTIONS -->



</md-dialog>
<!-- / DIALOG -->
