md-dialog {
    &.ocorrencia-dialog {
        width: 1100px;
        height: 900px;
        .title {
            font-size: 20px;
        }
        div.item p.date {
            width: 100px;
            text-align: left;
        }
        div.item p.numero {
            width: 100px;
            text-align: left;
        }
        div.item p.texto {
            width: 220px;
            text-align: left;
        }
        p.header {
            margin-right: 70px;
        }
        .titleHeader {
            margin-bottom: 20px;
        }
        .search {
            margin-top: 22px;
        }
        md-icon {
            color: #000;
            // background-color: #000;
        }
        .textoFiltro {
            font-size: 12px;
        }
    }
    .display-table {
      display: none;
    }
}

.filterbuttons{
  font-size: 10px;
  line-height: 20px;
}
