<!-- DIALOG -->
<md-dialog class="ocorrencia-dialog">

  <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
    <span class="title">{{vm.title}}</span>
    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
      <md-icon md-font-icon="icon-close"></md-icon>
    </md-button>
  </div>

  <md-list>
    <md-list-item class="ocorrencia-item md-white-bg" md-ink-ripple ng-repeat="oco in vm.ocorrencias | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredOcorrencias track by (oco.data + oco.hora)" 
      ng-click="vm.openManipularOcorrenciaDialog($event, oco)" ng-class="{'selected': vm.isSelected(oco)}">

      <div class="item" layout="row">
        <p class="date data">{{oco.data}}</p>
        <p class="number numero">{{oco.hora}}</p>
        <p class="text descricao">{{oco.descricao}}</p>
      </div>

    </md-list-item>

    <md-dialog-actions layout="row" layout-align="center">
      <md-button class="md-raised md-warn" ng-click="vm.openManipularOcorrenciaDialog($event)">
        Adicionar Ocorrencia
      </md-button>
      <md-menu class="select-menu">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="multi select toggle">
          <md-icon md-font-icon="icon-menu-down"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="vm.deletarTodasAsOcorrencias(ev)">
              Deletar TODAS as ocorrencias
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-dialog-actions>
    
  </md-list>
    
</md-dialog>    