<md-dialog class="ocorrencia-dialog">

  <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
    <span class="title">{{vm.title}}</span>
    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
      <md-icon md-font-icon="icon-close"></md-icon>
    </md-button>
  </div>

  <md-dialog-content ms-scroll>
      <div class="header" layout="row" layout-align="space-between center">
        <div class="titleHeader" layout="row" layout-align="start center" ng-hide="editGroupForm.$visible">
          <h3>Ocorrencias </h3>
          <span ng-if="vm.ocorrencias.length" class="secondary-text">({{vm.ocorrencias.length}})</span>
        </div>

        <div class="filtro">
          <div class="text textoFiltro" layout="row">
            <span>Filtrar Ocorrencias?</span>
            <md-checkbox ng-model="vm.filtro" aria-label="Deseja filtrar as ocorrencias?" ng-change="vm.resetarFiltro()">
            </md-checkbox>

            <div ng-if="vm.filtro == true" layout="row">
              <span> Tipo de Filtro?</span>
              <md-select ng-model="vm.tipoFiltro">
                <md-option ng-repeat="filtro in vm.filtros" value="{{filtro}}">
                  {{filtro}}
                </md-option>
              </md-select>
            </div>

            <div ng-if="vm.filtro == true">
              <div class="search-input-wrapper textoFiltro" layout="row" flex layout-align="space-around center">

                <div ng-if="vm.tipoFiltro == 'Somente um Mês'" layout="row" flex layout-align="space-around center">

                    <md-select ng-model="vm.mesInicial" placeholder="Mês">
                      <md-option value="1">Janeiro</md-option>
                      <md-option value="2">Fevereiro</md-option>
                      <md-option value="3">Março</md-option>
                      <md-option value="4">Abril</md-option>
                      <md-option value="5">Maio</md-option>
                      <md-option value="6">Junho</md-option>
                      <md-option value="7">Julho</md-option>
                      <md-option value="8">Agosto</md-option>
                      <md-option value="9">Setembro</md-option>
                      <md-option value="10">Outubro</md-option>
                      <md-option value="11">Novembro</md-option>
                      <md-option value="12">Dezembro</md-option>
                    </md-select>

                    <label>Ano</label>
                    <input class="inputAno" ng-model="vm.anoInicial" minlength="2000">

                </div>

                <div ng-if="vm.tipoFiltro == 'Entre dois ou mais Meses do Mesmo Ano'" layout="row" flex layout-align="space-around center">

                  <md-select ng-model="vm.mesInicial" placeholder="Mês Inicial">
                    <md-option value="1">Janeiro</md-option>
                    <md-option value="2">Fevereiro</md-option>
                    <md-option value="3">Março</md-option>
                    <md-option value="4">Abril</md-option>
                    <md-option value="5">Maio</md-option>
                    <md-option value="6">Junho</md-option>
                    <md-option value="7">Julho</md-option>
                    <md-option value="8">Agosto</md-option>
                    <md-option value="9">Setembro</md-option>
                    <md-option value="10">Outubro</md-option>
                    <md-option value="11">Novembro</md-option>
                    <md-option value="12">Dezembro</md-option>
                  </md-select>

                  <md-select ng-model="vm.mesFinal" placeholder="Mês Final">
                    <md-option value="1">Janeiro</md-option>
                    <md-option value="2">Fevereiro</md-option>
                    <md-option value="3">Março</md-option>
                    <md-option value="4">Abril</md-option>
                    <md-option value="5">Maio</md-option>
                    <md-option value="6">Junho</md-option>
                    <md-option value="7">Julho</md-option>
                    <md-option value="8">Agosto</md-option>
                    <md-option value="9">Setembro</md-option>
                    <md-option value="10">Outubro</md-option>
                    <md-option value="11">Novembro</md-option>
                    <md-option value="12">Dezembro</md-option>
                  </md-select>

                  <label>Ano</label>
                  <input class="inputAno" ng-model="vm.anoInicial" minlength="2000">
                </div>

                <div ng-if="vm.tipoFiltro == 'Entre Meses e Anos'" layout="row" layout-align="space-around center">
                  <md-select ng-model="vm.mesInicial" placeholder="Mês Inicial">
                    <md-option value="1">Janeiro</md-option>
                    <md-option value="2">Fevereiro</md-option>
                    <md-option value="3">Março</md-option>
                    <md-option value="4">Abril</md-option>
                    <md-option value="5">Maio</md-option>
                    <md-option value="6">Junho</md-option>
                    <md-option value="7">Julho</md-option>
                    <md-option value="8">Agosto</md-option>
                    <md-option value="9">Setembro</md-option>
                    <md-option value="10">Outubro</md-option>
                    <md-option value="11">Novembro</md-option>
                    <md-option value="12">Dezembro</md-option>
                  </md-select>

                  <label>Ano Inicial</label>
                  <input class="inputAno" ng-model="vm.anoInicial" minlength="2000">

                  <md-select ng-model="vm.mesFinal" placeholder="Mês Final">
                    <md-option value="1">Janeiro</md-option>
                    <md-option value="2">Fevereiro</md-option>
                    <md-option value="3">Março</md-option>
                    <md-option value="4">Abril</md-option>
                    <md-option value="5">Maio</md-option>
                    <md-option value="6">Junho</md-option>
                    <md-option value="7">Julho</md-option>
                    <md-option value="8">Agosto</md-option>
                    <md-option value="9">Setembro</md-option>
                    <md-option value="10">Outubro</md-option>
                    <md-option value="11">Novembro</md-option>
                    <md-option value="12">Dezembro</md-option>
                  </md-select>

                  <label>Ano Final</label>
                  <input class="inputAno" ng-model="vm.anoFinal" minlength="2000">
                </div>

                <div ng-if="vm.tipoFiltro !== ''" class="filterbuttons" layout="row">
                  <md-button class="md-raised md-accent" ng-click="vm.filtrarOcorrencias(vm.mesInicial, vm.mesFinal, vm.anoInicial, vm.anoFinal, vm.tipoFiltro)" aria-label="Filtrar Ocorrencias">
                    <md-icon md-font-icon="icon-magnify"></md-icon>
                  </md-button>
                  <md-button class=" md-raised md-warn" ng-click="vm.resetarValores()" aria-label="Resetar Filtro">
                    <md-icon md-font-icon="icon-undo"></md-icon>
                  </md-button>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>

      <md-list>

        <md-subheader class="tableheader">
          <div layout="row" layout-align="space-between center">
            <div class="item" layout="row" layout-align="space-between center">
              <p class="header">Data</p>
              <p class="header">Hora</p>
              <p class="header">Descrição</p>
            </div>
          </div>
        </md-subheader>

        <md-list-item class="ocorrencia-item md-white-bg" md-ink-ripple ng-repeat="oco in vm.ocorrencias | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredOcorrencias track by (oco.data + oco.hora)"
          ng-click="vm.openManipularOcorrenciaDialog($event, oco)" ng-class="{'selected': vm.isSelected(oco)}">
          <div class="item" layout="row" layout-align="space-between center">
            <p class="date data">{{vm.formataData(oco.data)}}</p>
            <p class="number numero">{{vm.formataHora(oco.hora)}}</p>
            <p class="text descricao">{{oco.descricao}}</p>
          </div>
        </md-list-item>

        <md-list-item class="no-results md-white-bg list-title" ng-show="vm.ocorrencias.length === 0">
          <p>Nenhuma Ocorrencia Cadastrada</p>
        </md-list-item>

      </md-list>

      <div class="simple-table-container md-whiteframe-4dp display-table" id="ocorrenciasTable">
        <table class="simple" ms-responsive-table>
          <thead>
            <tr ng-repeat="oco in vm.ocorrencias | limitTo:1">
              <th>Data</th>
              <th>Hora</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="oco in vm.ocorrencias">
              <td>{{vm.formataData(oco.data)}}</td>
              <td>{{vm.formataHora(oco.hora)}}</td>
              <td>{{oco.descricao}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="center">
    <md-button class="md-raised md-accent" ng-click="vm.openManipularOcorrenciaDialog($event)">
      Adicionar Ocorrencia
    </md-button>
    <md-button class="btnExcel" ng-click="vm.exportarExcel()">
      <md-icon md-font-icon="icon-file-excel" class="iconExcel"></md-icon>
      Excel
    </md-button>
    <md-menu class="select-menu">
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="multi select toggle">
        <md-icon md-font-icon="icon-menu-down"></md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="vm.deletarTodasAsOcorrencias(ev)">
            <md-icon md-font-icon="icon-delete"></md-icon>
            Deletar TODAS as ocorrencias
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-dialog-actions>

</md-dialog>
