<!DOCTYPE html>
<div id="historicoOcorrencia" class="page-layout simple inner-sidenav">
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
          <md-icon md-font-icon="icon-account-box" class="s24"></md-icon>
        </span>
                <span class="logo-text">Histórico de Ocorrencias</span>
            </div>
        </div>

        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <label for="search">
        <md-icon md-font-icon="icon-magnify"></md-icon>
      </label>
            <md-input-container md-no-float class="m-0">
                <input id="search" placeholder="Pesquisar alunos..." type="text" ng-model="vm.search">
            </md-input-container>
        </div>

    </div>

    <!-- <div ng-show="vm.selectedOcorrencias.length > 0" class="selected-bar header animate-slide-down md-accent-bg" layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.selectedOcorrencias =[]">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span>Voltar</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-ocorrencias-count">
                <span>{{vm.selectedOcorrencias.length}}</span>
                <span>selecionado(s)</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="multi select toggle">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.selectAllOcorrencias()">
                                Selecionar todos
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deselectOcorrencias()">
                                Selecionar nenhum
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.deleteSelectedOcorrencias($event)" aria-label="apagar selecionados">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div> -->

    <div class="content" md-background-bg layout="row" layout-align="start start">
        <div class="main scrollable" ms-scroll>
            <md-list class="ocorrencia-list">
                <md-subheader class="md-no-sticky md-white-bg">
                    <div layout="row" layout-align="space-between center">
                        <div class="list-title" layout="row" layout-align="start center" ng-hide="editGroupForm.$visible">
                            <span ng-if="vm.listType === 'all'">Alunos Cadastrados</span>
                            <span ng-if="filteredAlunos.length" class="secondary-text ocorrencias-count">
                                ({{filteredAlunos.length}})
                            </span>
                        </div>
                        <div flex></div>

                        <span>Ordenar</span>
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="Ordenar">
                                <md-icon md-font-icon="icon-sort-alphabetical" ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'ra'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'ra' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span>RA</span>
                                        <small>(Crescente)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'ra'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'ra' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span>RA</span>
                                        <small>(Decrescente)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'nome'; vm.listOrderAsc = false" ng-style="vm.listOrder === 'nome' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span>Nome</span>
                                        <small>(Crescente)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'nome'; vm.listOrderAsc = true" ng-style="vm.listOrder === 'nome' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span>Nome</span>
                                        <small>(Decrescente)</small>
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>

                        </md-menu>

                    </div>

                </md-subheader>

                <md-list-item class="ocorrencia-item md-white-bg" md-ink-ripple ng-repeat="alu in vm.alunos | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredAlunos track by alu.nome"
                    ng-click="vm.openOcorrenciaListaDialog($event, alu)" ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredAlunos.length - $index}" ng-class="{'selected': vm.isSelected(alu)}">

                    <md-checkbox ng-checked="vm.exists(alu, vm.selectedAlunos)" ng-click="vm.toggleSelectAluno(alu, $event)" aria-label="{{vm.exists(alu, vm.selectedAlunos) ? 'Deselect' : 'Select'}}">
                    </md-checkbox>
                    <div class="item" layout="row">
                        
                        <p class="numero raAluno">
                            {{alu.ra}}
                        </p>
                        <p class="text nome">
                            {{alu.nome}}
                        </p>

                    </div>
                    <div class="md-secondary actions" layout="row" layout-align="start center">
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="Mais">
                                <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.openOcorrenciaListaDialog($event, alu)">
                                        Verificar Ocorrencias
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                    </div>

                </md-list-item>

            </md-list>

            <md-list-item class="no-results md-white-bg" ng-show="filteredAlunos.length === 0">
                <p>Nenhuma ocorrencia encontrada.</p>
            </md-list-item>

        </div>

    </div>

    <!-- <md-button class="md-fab md-accent md-icon-button" id="add-ocorrencia-button" ng-click="vm.openOcorrenciaDialog($event)" aria-label="Verificar ocorrencias">
        <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button> -->

</div>