<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <div class="header md-accent-bg" layout="row" layout-align="space-between center">
    <div layout="row" layout-align="start center">
      <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <md-icon md-font-icon="icon-document" class="s24"></md-icon>
        </span>
        <span class="logo-text">Relatório Financeiro</span>
      </div>
    </div>
  </div>

  <div class="content" md-background-bg layout="row" layout-align="start start">

    <div class="main scrollable" ms-scroll>

      <form name="informaPgto" ng-show="vm.searched == false">
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <h1 class="md-title">Consulta de Pagamentos</h1>
              <h2 class="md-subhead">Por favor, informe os dados referentes a consulta desejada.</h2>
            </md-card-header-text>
          </md-card-header>

          <md-card-content layout="row">

            <md-input-container>
              <md-datepicker ng-model="vm.dataInicio" md-placeholder="Data Inicio" md-open-on-focus></md-datepicker>
            </md-input-container>

            <md-input-container>
              <md-datepicker ng-model="vm.dataFim" md-placeholder="Data Fim" md-open-on-focus></md-datepicker>
            </md-input-container>

          </md-card-content>
        </md-card>

        <div layout="row" layout-align="center">
          <h4>Obs.: Todos os campos são obrigatórios.</h4>
        </div>

        <div layout="row" layout-align="center">
          <md-button ng-click="vm.buscaPagamentos()" class="md-accent md-raised">Consultar</md-button>
          <md-button ng-click="vm.limpaForm()">Limpar</md-button>
        </div>
      </form>

      <form name="dataPgto" ng-show="vm.searched == true">
        <md-card>
          <div class="simple-table-container md-whiteframe-4dp" id="pagamentosTable">
            <div class="table-title">
              Pagamentos:
            </div>

            <table class="simple" ms-responsive-table id="realTable">

              <thead>
                <tr ng-repeat="pagamento in vm.pagamentos | limitTo:1">
                  <th class="cliente" ng-if="$index == 0">Cliente</th>
                  <th class="dataPagamento" ng-repeat="pag in pagamento.pagamentos | limitTo:$index.length"> {{pag.dataPgto | date : "_/MM/yyyy"}} </th>
                  <th class="total">Total</th>
                </tr>
              </thead>

              <tbody>

                <tr ng-repeat="pagamento in vm.pagamentos">
                  <td>{{pagamento.nome}}</td>
                  <td class="valorPago" ng-repeat="pag in pagamento.pagamentos"> {{pag.valorPago | currency : "R$ "}} </td>
                  <td class="valorTotal">{{pagamento.total | currency : "R$ "}}</td>

                </tr>

              </tbody>
            </table>
        </div>
      </md-card>

      <div layout="row" layout-align="center">
        <md-button ng-click="vm.novaConsulta()" class="md-accent md-raised">Nova Consulta</md-button>
        <md-button ng-click="vm.exportarExcel()" class="btnExcel">
          <md-icon md-font-icon="icon-file-excel" class="iconExcel"></md-icon>
          Excel
        </md-button>
        <md-button ng-click="vm.exportarPdf()" class="btnPdf">
          <md-icon md-font-icon="icon-file-pdf" class="iconPdf"></md-icon>
          PDF
        </md-button>
      </div>
     </form>
     
    </div>
  </div>
</div>
