<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <!-- APP TITLE -->
    <div layout="row" layout-align="start center">
      <!-- <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')">
                <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
            </md-button> -->

      <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
          <md-icon md-font-icon="icon-document" class="s24"></md-icon>
        </span>
        <span class="logo-text">Relatório Financeiro</span>
      </div>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" md-background-bg layout="row" layout-align="start start">

    <!-- MAIN -->
    <div class="main scrollable" ms-scroll>

      <!-- ENTRADA DE PAGAMENTO -->
      <form name="informaPgto" ng-show="vm.searched == false">
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">Consulta de Pagamentos</span></br>
              <span class="md-subhead">Por favor, informe os dados referentes a consulta desejada.</span>
            </md-card-header-text>
          </md-card-header>

          <md-card-content layout="row">

            <md-input-container>
              <md-datepicker ng-model="vm.dataInicio" md-placeholder="Data Inicio" md-open-on-focus></md-datepicker>
            </md-input-container>

            <md-input-container>
              <md-datepicker ng-model="vm.dataFim" md-placeholder="Data Fim" md-open-on-focus></md-datepicker>
            </md-input-container>

          </md-card-content>
        </md-card>

        <div layout="row" layout-align="center">
          <h4>Obs.: Todos os campos são obrigatórios.</h4>
        </div>

        <div layout="row" layout-align="center">
          <md-button ng-click="vm.buscaPagamentos()" class="md-accent md-raised">Consultar</md-button>
          <md-button ng-click="vm.limpaForm()">Limpar</md-button>
        </div>
      </form>
      <!-- / ENTRADA DE PAGAMENTO -->

      <form name="dataPgto" ng-show="vm.searched == true">
        <md-card> <!-- Esconde tabela caso pagamentos for vazio -->
          <div class="simple-table-container md-whiteframe-4dp" id="pagamentosTable">
            <div class="table-title">
              Pagamentos:
            </div>

            <table class="simple" ms-responsive-table id="realTable">

              <thead>
                <tr ng-repeat="pagamento in vm.pagamentos | limitTo:1">
                  <th ng-if="$index == 0">Cliente</th>
                  <th ng-repeat="pag in pagamento.pagamentos | limitTo:$index.length"> {{pag.dataPgto | date : "_/MM/yyyy"}} </th>
                  <th>Total</th>
                </tr><!--
                <tr ng-repeat="pagamento in vm.pagamentos">

                  <th ng-repeat-start="pag in pagamento.pagamentos"> {{pag.dataPgto}} </th>
                  <th ng-repeat-end></th>
                </tr> -->
              </thead>

              <tbody>

                <tr ng-repeat="pagamento in vm.pagamentos">
                  <td>{{pagamento.nome}}</td>
                  <td ng-repeat="pag in pagamento.pagamentos"> {{pag.valorPago | currency : "R$ "}} </td>
                  <td>{{pagamento.total | currency : "R$ "}}</td>

                </tr>

              </tbody>
            </table>


        </div>
      </md-card>
      </br>
      <div layout="row" layout-align="center"> <!-- Retirar os styles daqui -->
        <md-button ng-click="vm.novaConsulta()" class="md-accent md-raised">Nova Consulta</md-button>
        <md-button ng-click="vm.exportarExcel()" class="btnExcel">
          <md-icon md-font-icon="icon-file-excel" class="iconExcel" style="color: white;"></md-icon>
          Excel
        </md-button>
        <md-button ng-click="vm.exportarPdf()" class="btnPdf">
          <md-icon md-font-icon="icon-file-pdf" class="iconPdf" style="color: white;"></md-icon>
          PDF
        </md-button>
      </div>
      </br>
      </br>
    </form>

</div>
    <!-- / MAIN -->
</div>
  <!-- / CONTENT -->
</div>
