<!-- DIALOG -->
<md-dialog class="educador-dialog">

  <form name="EducadorForm" class="md-inline-form" novalidate>

    <div class=" md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
      <span class="title">{{vm.title}}</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar diálogo">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>

    <md-dialog-content ms-scroll>

      <md-input-container class="md-icon-float md-block">
        <label>Nome</label>
        <md-icon md-font-icon="icon-account" class="name"></md-icon>
        <input ng-model="vm.educador.nome" type="text" md-maxlength="80" required md-autofocus>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>CPF</label>
        <md-icon md-font-icon="">reorder</md-icon>
        <input ng-model="vm.educador.cpf" type="text" mask="999.999.999-99" ng-disabled="!vm.newEducador" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Sexo</label>
        <md-icon md-font-icon="icon-human"></md-icon>
        <input ng-model="vm.educador.sexo" type="text">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Telefone</label>
        <md-icon md-font-icon="icon-phone"></md-icon>
        <input ng-model="vm.educador.telefone" type="text" mask="(99) 9?9999-9999">
      </md-input-container>

      <md-input-container class="md-icon-float md-block" flex="100" flex-gt-xs="90">
        <label>Data de Nascimento</label>
        <md-datepicker ng-model="vm.educador.dataNasc" md-placeholder="Nascimento" required md-open-on-focus></md-datepicker>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>E-mail</label>
        <md-icon md-font-icon="icon-email"></md-icon>
        <input ng-model="vm.educador.email" type="email">
      </md-input-container>


    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button type="submit" ng-if="!vm.newEducador" ng-click="vm.saveEducador()" class="send-button md-accent md-raised" ng-disabled="EducadorForm.$invalid || EducadorForm.$pristine" aria-label="Salvar">
          Salvar
        </md-button>

        <md-button type="submit" ng-if="vm.newEducador" ng-click="vm.addNewEducador()" class="send-button md-accent md-raised" ng-disabled="EducadorForm.$invalid || EducadorForm.$pristine" aria-label="Adicionar educador">
          Adicionar Educador
        </md-button>

      </div>


    </md-dialog-actions>

  </form>

</md-dialog>
